/* Reset */
ol, ul,li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

/* Global */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-border {
    border: none !important;
}
ul.disc li {
    list-style-type: disc;
    margin-left: 20px;
}
ol.decimal li {
    list-style-type: decimal;
    margin-left: 20px;
}
.bg-white {
    background-color: white;
}

/* iOS style */
.app .row {
    margin: 0;
    padding: 11px 10px;
    background-color: white;
    border-bottom: 1px solid #eee;
}
.app .block {
    margin-bottom: 18px;
    border-top: 1px solid #eee;
}
