<nav class="navbar navbar-default">
    <div class="container">
    	<!-- Logo -->
		<ul class="nav navbar-nav">
			<li class="text">UGC IS</li>
		</ul>

    	<!-- Menu -->
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="check">审核</a></li>
            <li ui-sref-active="active"><a ui-sref="point">奖学金</a></li>
            <li ui-sref-active="active"><a ui-sref="userList">生活家</a></li>
            <li ui-sref-active="active"><a ui-sref="stat">数据</a></li>
            <li ui-sref-active="active"><a ui-sref="link">链接</a></li>
            <li ui-sref-active="active"><a ui-sref="settings">设置</a></li>
        </ul>

        <!-- Show admin info when login -->
		<ul class="nav navbar-nav navbar-right" ng-show="adminName">
			<li><a class="text" ng-bind="adminName"></a></li>
			<li><a href="#" ng-click="logout()">Log out ></a></li>
		</ul>

		<!-- Show login button when logout -->
		<ul class="nav navbar-nav navbar-right" ng-show="!adminName">
			<li><a ui-sref="login">Log In ></a></li>
		</ul>
    </div>
</nav>