<div class="container-fluid login">
	<img class="header" src="img/login/header.jpg">
	<div class="title text-center">生活家登录</div>
	<div>
		<div class="center-block input-box">
			<div class="input-group">
				<input type="text" class="form-control text-center" placeholder="请输入手机号" ng-model="tel">
			</div>
			<input type="submit" class="btn btn-info" ng-click="tryLogin()" value="登录">
		</div>
	</div>
</div>

<footer></footer>