<div class="me container-fluid app">
    <img class="header" src="img/me/header.jpg">
    <div class="overview-block">
        <div class="block check-overview">
            <!-- 用户信息 -->
            <div class="row">
                亲爱的 <span class="highlight">{{overview.info.name}}</span>  ：
                <a class="pull-right" href="#" ng-click="logout()">登出 ></a>
            </div>
            <div class="row">
                <div class="inline col-xs-6 col-sm-6">
                    <h3 class="highlight">{{overview.rank}}</h3>城市排名</div>
                <div class="inline col-xs-6 col-sm-6">
                    <h3 class="highlight">{{overview.point}}</h3>可兑换奖学金</div>
            </div>
            <div class="row">
                <div class="inline col-xs-4 col-sm-4">
                    <h3 class="highlight">{{overview.check.approved.length}}</h3>精选评价</div>
                <div class="inline col-xs-4 col-sm-4">
                    <h3 class="highlight">{{overview.check.disapproved.length}}</h3>未通过评价</div>
                <div class="inline col-xs-4 col-sm-4">
                    <h3 class="highlight">{{overview.check.unchecked.length}}</h3>待审核评价</div>
            </div>
        </div>
        <div class="check-list-wrapper">
            <!-- 审核通过列表 -->
            <table class="check-list table bg-white" ng-show="overview.check.approved.length">
                <thead>
                    <tr>
                        <td colspan="2">精选评价</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in overview.check.approved">
                        <td>{{row.shopName}}</td>
                        <td>{{row.checkDate}} 评为精选</td>
                    </tr>
                </tbody>
            </table>
            <!-- 审核不通过列表 -->
            <table class="check-list table bg-white" ng-show="overview.check.disapproved.length">
                <thead>
                    <tr>
                        <td>未通过评价</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in overview.check.disapproved">
                        <td>{{row.shopName}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- 正在审核列表 -->
            <table class="check-list table bg-white" ng-show="overview.check.unchecked.length">
                <thead>
                    <tr>
                        <td>待审核评价</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in overview.check.unchecked">
                        <td>{{row.shopName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 备注 -->
        <div class="block">
            <div class="row"> 
                <span>查看历史成绩单：</span>
                <select ng-model="currentMonth" ng-change="changeMonth(currentMonth)">
                    <option ng-value="month" ng-repeat="month in monthList">{{month}}</option>
                </select>
            </div>
            <div class="row">数据统计截止时间： <span class="highlight">{{overview.lastUpdateDate}}</span></div>
        </div>
    </div>
    <div more-info></div>
</div>
<footer></footer>
