<div class="rank container-fluid">
    <!-- 顶部图片 -->
	<img class="header" src="img/rank/header.jpg">
 	<!-- 城市切换Tab -->
    <div class="rank-list-header">
        <div class="rank-change-city btn-group">
            <label class="btn btn-default" ng-model="radio.city" btn-radio="city" ng-click="updateCityList(city)" ng-repeat="city in cityTabList">{{city}}</label>
        </div>
        <label for="month" class="monthLable">月份</label>
        <select class="form-control monthSelect" ng-model="currentMonth" ng-change="getRankList(currentMonth)">
            <option ng-value="month" ng-repeat="month in monthList">{{month}}</option>
        </select>
        <div class="rank-list-title">{{radio.city}}排行榜</div>
    </div>

    <!-- 排行榜 -->
    <ul class="rank-list">
        <li class="rank-row" ng-repeat="person in currentCityList | limitTo:10:0">
            <!-- top 1 ~ 3 -->
            <div class="rank-badge" ng-if="$index + 1 <= 3">
                <img ng-src="img/rank/top{{$index + 1}}.png">
            </div>
            <!-- top 3 ~ 10 -->
            <div class="rank-badge" ng-if="$index + 1 > 3">
                <div class="rank-badge-index">
                    <span ng-show="$index + 1 < 10">0</span>{{$index + 1}}.
                </div>
            </div>
            <!-- Common -->
            <div class="nickname">{{person.name}}<span ng-show="radio.city == '全国'">（{{person.city}}）</span></div>
            <div class="comment-count">{{person.count}}条精选评价</div>
        </li>
        <!-- 如果排行榜为空 -->
        <li class="rank-row" ng-show="!rankList.length">
            <div class="no-people-tip">暂时还没有人登上排行榜哦~ 快写评价做头名！</div>
        </li>
    </ul>
    <!-- 更多信息 -->
    <div more-info></div>
</div>
<footer></footer>
