<!-- Header -->
<header admin-name="admin.name"></header>

<!-- Filter and search section -->
<div class="container-fluid filter-section">
    <div class="form-group col-md-1 no-padding-left">
        <select class="form-control" ng-model="search.city">
            <option value="" disabled="disabled">城市</option>
            <option value="">全部</option>
            <option ng-repeat="data in cityList" value="{{data}}">{{data}}</option>
        </select>
    </div>
    <div class="form-group col-md-1 no-padding-left">
        <select class="form-control" ng-model="search.checkStatus">
            <option value="" disabled="disabled">审核状态</option>
            <option value="">全部</option>
            <option ng-repeat="data in statusList" value="{{data.value}}">{{data.label}}</option>
        </select>
    </div>
    <div class="form-group col-md-1 no-padding-left">
        <select class="form-control" ng-model="search.executor">
            <option value="" disabled="disabled">审核人</option>
            <option value="">全部</option>
            <option ng-repeat="data in executorList" value="{{data}}">{{data}}</option>
        </select>
    </div>
    <div class="form-group col-md-1 no-padding-left">
        <select class="form-control" ng-model="search.source">
            <option value="" disabled="disabled">评价来源</option>
            <option value="">全部</option>
            <option ng-repeat="data in sourceList" value="{{data}}">{{data}}</option>
        </select>
    </div>
    <div class="form-group col-md-2 no-padding-right pull-right">
        <input type="text" class="form-control" ng-model="search.$" placeholder="全局搜索">
    </div>
    <div class="form-group col-md-2 no-padding-right no-padding-left pull-right numberPerPage">
        <label class="col-sm-6 text-white">每页显示</label>
        <div class="col-sm-6">
            <select class="form-control" ng-model="config.pagination.maxPerPage">
                <option value="99999">全部</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
</div>

<!-- Dashboard -->
<div class="container-fluid">
    <table class="table table-bordered table-hover btm-margin">
        <thead>
            <tr align="center">
                <th>Userid</th>
                <th>昵称</th>
                <th style="width: 50px;">城市</th>
                <th>评价链接</th>
                <th>评价时间</th>
                <th>商户名称</th>
                <th style="width: 46px;">评价来源</th>
                <th>反作弊</th>
                <th style="width: 46px;">字数</th>
                <th style="width: 60px;">图片数</th>
                <th style="width: 220px;">审核状态</th>
                <th>评分</th>
                <th>备注</th>
                <th>审核人<br>审核时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="
                row in filtedList
                | limitTo : config.pagination.maxPerPage
                          : (config.pagination.currentPage-1)*config.pagination.maxPerPage
            ">
                <td><a href="#/user/{{row.id}}">{{row.id}}</a></td>
                <td>{{row.name}}</td>
                <td>{{row.city}}</td>
                <td class="text-center">
                    <a class="btn btn-default" target="_blank" href="http://www.meituan.com/shop/feedback/{{row.commentid}}">查看评价</a>
                    <br>
                    <a target="_blank" href="http://mis.sankuai.com/mis/feedbackcheck/detail?dealfeedbackid={{row.commentid}}">审核后台</a></td>
                <td>{{row.commentDate}}</td>
                <td>{{row.shopName}}</td>
                <td>{{row.source}}</td>
                <td>
                    <button class="btn btn-default" ng-click="antiCheating(row.commentContent)">反作弊</button>
                </td>
                <td>{{row.wordCount}}</td>
                <td>{{row.imageCount}}</td>
                <td>
                    <!-- 要获得当前checkStatus的值，输入到ng-model里 -->
                    <div class="btn-group">
                        <label ng-model="row.checkStatus"
                               ng-click="updateStatus(row.commentid, '1', row.notes)"
                               class="btn btn-default"
                               btn-radio="'1'"
                               ng-class="{'btn-success': row.checkStatus == '1'}"
                        >已通过</label>
                        <label ng-model="row.checkStatus"
                               ng-click="updateStatus(row.commentid, '2', row.notes)"
                               class="btn btn-default"
                               btn-radio="'2'"
                               ng-class="{'btn-danger': row.checkStatus == '2'}"
                        >未通过</label>
                        <label ng-model="row.checkStatus"
                               ng-click="updateStatus(row.commentid, '0', row.notes)"
                               class="btn btn-default"
                               btn-radio="'0'"
                               ng-class="{'btn-warning': row.checkStatus == '0'}"
                        >待审核</label>
                    </div>
                </td>
                <td>
                    <p><input class="text-center" style="width: 50px;" type="text" ng-model="row.score"></p>
                    <p><button class="btn btn-default" ng-click="updateScore(row.commentid, row.score)">修改</button></p>
                </td>
                <td>
                    <p ng-show="row.notes">{{row.notes}}</p>
                    <p><button class="btn btn-default" ng-click="openModal(row.commentid, row.notes)">编辑</button></p>
                </td>
                <td>{{row.executor}}<br>{{row.checkDate}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="pagination-section">
    <pagination boundary-links="true" total-items="filtedList.length" ng-model="config.pagination.currentPage" first-text="第一页" previous-text="上一页" max-size="15" next-text="后一页" last-text="最后一页" items-per-page="config.pagination.maxPerPage"></pagination>
    <div class="total-list-count">共筛选出了 {{filtedList.length}} 项结果</div>
</div>
