<header admin-name="admin.name"></header>

<div class="container link">
    <div class="container">
    	<h3>常用链接</h3>
    	<ul class="disc">
    		<li ng-repeat="row in links"><a target="_blank" href="{{row.href}}">{{row.name}}</a></li>
    	</ul>
    </div>
</div>