<div class="container-fluid login">
	<!-- Background -->
	<div class="bg" ng-style="{'background-image':'url(img/login/bg'+ id +'.jpg)'}"></div>

	<!-- Title -->
	<h3>UGC IS</h3>

	<!-- Input boxes -->
	<div class="row">
		<div class="center-block input-box">
			<img class="avator-big" ng-src="img/avators/{{id}}.jpg">
			<form class="input-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="pass">
				<input type="submit" class="btn btn-info" ng-click="tryLogin()" value="Login">
			</form>
		</div>
	</div>

	<!-- Avators List -->
	<div class="row">
		<ul class="avators">
			<li style="top: 0px"><img src="img/avators/1.jpg" ng-click="quickSelect(1)"></li>
			<li style="top: 40px"><img src="img/avators/2.jpg" ng-click="quickSelect(2)"></li>
			<li style="top: 60px"><img src="img/avators/3.jpg" ng-click="quickSelect(3)"></li>
			<li style="top: 70px"><img src="img/avators/4.jpg" ng-click="quickSelect(4)"></li>
			<li style="top: 60px"><img src="img/avators/5.jpg" ng-click="quickSelect(5)"></li>
			<li style="top: 40px"><img src="img/avators/6.jpg" ng-click="quickSelect(6)"></li>
			<li style="top: 0px"><img src="img/avators/7.jpg" ng-click="quickSelect(7)"></li>
		</ul>
	</div>

	<!-- Footer -->
	<div class="footer">
		Powered by UGC @Meituan · <a target="_blank" href="http://wiki.sankuai.com/pages/viewpage.action?pageId=360904688">更新日志</a>
	</div>
</div>