<!-- Header -->
<header admin-name="admin.name"></header>

<!-- Filter & search section -->
<div class="container-fluid filter-section">
    <div class="container">
        <div class="form-group col-md-2 no-padding-left">
            <select class="form-control" ng-model="search.city">
                <option value="">所有城市</option>
                <option ng-repeat="data in cityList" value="{{data}}">{{data}}</option>
            </select>
        </div>
        <div class="form-group col-md-8 no-padding-left numberPerPage">
            <label class="col-sm-10 control-label">每页显示</label>
            <div class="col-md-2">
                <select class="form-control" ng-model="config.pagination.maxPerPage">
                    <option value="99999">全部</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-2 no-padding-right pull-right">
            <input type="text" class="form-control" ng-model="search.$" placeholder="全局搜索">
        </div>
    </div>
</div>

<!-- Main table -->
<div class="container point">
    <table class="table table-bordered table-hover btm-margin">
        <thead>
            <tr>
                <td>用户ID</td>
                <td>昵称</td>
                <td>城市</td>
                <td>奖学金</td>
                <td>修改</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in filtedList | limitTo : config.pagination.maxPerPage : (config.pagination.currentPage-1)*config.pagination.maxPerPage">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.city}}</td>
                <td>{{row.point}}</td>
                <td>
                    <button class="btn btn-success col-md-5 " ng-click="openModal($index, 1)">+</button>
                    <button class="btn btn-danger col-md-5 col-md-offset-1" ng-click="openModal($index, -1)">-</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="pagination-section">
    <pagination boundary-links="true" total-items="filtedList.length" ng-model="config.pagination.currentPage" first-text="第一页" previous-text="上一页" next-text="后一页" max-size ="15" last-text="最后一页" items-per-page="config.pagination.maxPerPage"></pagination>
    <div class="total-list-count">共筛选出了 {{filtedList.length}} 项结果</div>
</div>
