<!-- Header -->
<div class="modal-header">
    <h3 class="modal-title" ng-show="addOrReduce == 1">增加奖学金</h3>
    <h3 class="modal-title" ng-show="addOrReduce == -1">减少奖学金</h3>
</div>

<!-- Body -->
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2" for="scholar_increase">数量</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="scholar_increase" ng-model="delta" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2" for="edit_comments">备注</label>
            <div class="col-md-10">
                  <textarea type="text" class="form-control" rows="5" ng-model="notes"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2" for="comment">快速备注</label>
            <div class="col-md-10">
                <button class="btn btn-default" ng-repeat="text in quickCommentOptions" ng-click="addQuickComment(text)">{{text}}</button>
            </div>
        </div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </form>
</div>

<!-- Footer -->
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>