<header admin-name="admin.name"></header>

<div class="container settings">
    <div class="container">
        <h3>修改密码</h3>
        <form class="input-group">
            <input type="password" class="form-control" placeholder="旧密码" ng-model="admin.oldPass">
            <input type="password" class="form-control" placeholder="新密码" ng-model="admin.newPass">
            <input type="submit" class="btn btn-info" ng-click="tryReset()" value="重置">
        </form>

        <h3>关于</h3>
        <p>当前版本：v0.5 / <a target="_blank" href="http://wiki.sankuai.com/pages/viewpage.action?pageId=360904688">更新日志</a><br>
        Powered by UGC @Meituan</p>
    </div>
</div>