<header admin-name="admin.name"></header>
<!-- Filter section -->
<div class="container-fluid filter-section">
    <div class="container">
        <div class="inline-block col-md-2">
            <div class="btn-group ">
                <label class="btn btn-default" ng-model="config.mode" btn-radio="'daily'">日</label>
                <label class="btn btn-default" ng-model="config.mode" btn-radio="'weekly'">周</label>
                <label class="btn btn-default" ng-model="config.mode" btn-radio="'monthly'">月</label>
                <label class="btn btn-default" ng-model="config.mode" btn-radio="'yearly'">年</label>
            </div>
        </div>
        <div class="inline-block col-md-6">
            <div ng-show="config.mode == 'daily'">
                <form class="form-inline">
                    <p class="input-group col-md-4">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-week="false" ng-model="config.calendar.daily.begin" is-open="config.begin" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event,'begin')">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <span class="text-white text-middle">至</span>
                    <p class="input-group col-md-4">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" show-week="false" ng-model="config.calendar.daily.end" is-open="config.end" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event,'end')">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </form>
            </div>
            <div ng-show="config.mode == 'weekly'">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="config.interval.weekly.begin" ng-change="refreshCharts()">
                        <span class="text-white text-middle" style="height:20px">至</span>
                        <input type="text" class="form-control" ng-model="config.interval.weekly.end" ng-change="refreshCharts()">
                    </div>
                </form>
            </div>
            <div ng-show="config.mode == 'monthly'">
                <form class="form-inline">
                    <p class="input-group col-md-4">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM" show-week="false" ng-model="config.calendar.monthly.begin" is-open="config.begin" close-text="关闭" datepicker-options="monthConfig" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event,'begin')">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <span class="text-white text-middle">至</span>
                    <p class="input-group col-md-4">
                        <input type="text" class="form-control" datepicker-popup="yyyy-MM" show-week="false" ng-model="config.calendar.monthly.end" is-open="config.end" close-text="关闭" datepicker-options="monthConfig" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event,'end')">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </form>
            </div>
            <div ng-show="config.mode == 'yearly'">
                <form class="form-inline">
                    <p class="input-group col-md-4">
                        <input type="text" class="form-control" datepicker-popup="yyyy" show-week="false" ng-model="config.calendar.yearly.begin" is-open="config.begin" close-text="关闭" datepicker-options="yearConfig" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event,'begin')">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <span class="text-white text-middle">至</span>
                    <p class="input-group col-md-4">
                        <input type="text" class="form-control" datepicker-popup="yyyy" show-week="false" ng-model="config.calendar.yearly.end" is-open="config.end" close-text="关闭" datepicker-options="yearConfig" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event,'end')">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard -->
<div class="container-fluid stat">
    <!-- Daily -->
    <div class="row" ng-show="config.mode == 'daily'">
        <div class="chart-area" ng-repeat="chartCategory in chartData.daily">
            <div class="categoryTitle">
                <span class="tri"></span>
                <h3 ng-cloak>{{chartCategory[0]}}</h3>
            </div>
            <div class="col-md-{{12/config.numColumnsShow}}" ng-repeat="chart in chartCategory[1]">
                <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series" chart-click="onClick">
                </canvas>
                <div class="margin-block"></div>
            </div>
        </div>
    </div>
    <!-- Weekly -->
    <div class="row" ng-show="config.mode == 'weekly'">
        <div class="chart-area" ng-repeat="chartCategory in chartData.weekly">
            <div class="categoryTitle">
                <span class="tri"></span>
                <h3 ng-cloak>{{chartCategory[0]}}</h3>
            </div>
            <div class="col-md-{{12/config.numColumnsShow}}" ng-repeat="chart in chartCategory[1]">
                <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series" chart-click="onClick">
                </canvas>
                <div class="margin-block"></div>
            </div>
        </div>
    </div>
    <!-- Monthly -->
    <div class="row" ng-show="config.mode == 'monthly'">
        <div class="chart-area" ng-repeat="chartCategory in chartData.monthly">
            <div class="categoryTitle">
                <span class="tri"></span>
                <h3 ng-cloak>{{chartCategory[0]}}</h3>
            </div>
            <div class="col-md-{{12/config.numColumnsShow}}" ng-repeat="chart in chartCategory[1]">
                <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series" chart-click="onClick">
                </canvas>
                <div class="margin-block"></div>
            </div>
        </div>
    </div>
    <!-- Yearly -->
    <div class="row" ng-show="config.mode == 'yearly'">
        <div class="chart-area" ng-repeat="chartCategory in chartData.yearly">
            <div class="categoryTitle">
                <span class="tri"></span>
                <h3 ng-cloak>{{chartCategory[0]}}</h3>
            </div>
            <div class="col-md-{{12/config.numColumnsShow}}" ng-repeat="chart in chartCategory[1]">
                <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series" chart-click="onClick">
                </canvas>
                <div class="margin-block"></div>
            </div>
        </div>
    </div>
</div>
