<header admin-name="admin.name"></header>

<div class="container user-detail">
	<div class="container back">
		<a class="btn btn-primary" href="#/user">< 返回</a>
	</div>
	<div class="container">
		<h3>基本信息</h3>
		<table class="table table-bordered table-hover table-striped">
			<thead>
			    <tr>
			        <td>用户ID</td>
					<td>生活家ID</td>
			        <td>昵称</td>
			        <td>城市</td>
			        <td>手机号</td>
			        <td>奖学金</td>
			        <td>加入时间</td>
			    </tr>
			</thead>
			<tbody>
				<tr>
					<td>{{user.info.id}}</td>
					<td>{{user.info.vipid}}</td>
					<td>{{user.info.name}}</td>
					<td>{{user.info.city}}</td>
					<td>{{user.info.tel}}</td>
					<td>{{user.overview.point}}</td>
					<td>{{user.info.joinDate}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<h3>当月状态</h3>
		<table class="table table-bordered table-hover table-striped">
			<thead>
			    <tr>
			        <td>城市排名</td>
			        <td>所处阶段</td>
			        <td>总评价数</td>
			        <td>通过评价数</td>
					<td>未通过评价数</td>
			        <td>未审核评价数</td>
			    </tr>
			</thead>
			<tbody>
				<tr>
					<td>{{user.overview.rank}}</td>
					<td>{{user.overview.stage}}</td>
					<td>{{user.overview.check.allCount}}</td>
					<td>{{user.overview.check.approved.length}}</td>
					<td>{{user.overview.check.disapproved.length}}</td>
					<td>{{user.overview.check.unchecked.length}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<h3>审核记录</h3>
		<table class="table table-bordered table-hover table-striped">
			<thead>
			    <tr>
			        <td>评价ID</td>
					<td>审核状态</td>
			        <td>备注</td>
			        <td>操作人</td>
			        <td>操作时间</td>
			    </tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in user.log.checkLog">
					<td>{{row.commentid}}</td>
					<td>
						<span ng-show="row.checkStatus == 0">未审核</span>
						<span ng-show="row.checkStatus == 1">已通过</span>
						<span ng-show="row.checkStatus == 2">未通过</span>
					</td>
					<td>{{row.notes}}</td>
					<td>{{row.executor}}</td>
					<td>{{row.createTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<h3>奖学金记录</h3>
		<table class="table table-bordered table-hover table-striped">
			<thead>
			    <tr>
			        <td>增减数目</td>
			        <td>操作人</td>
			        <td>备注</td>
			        <td>操作时间</td>
			    </tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in user.log.pointLog">
					<td>{{row.delta}}</td>
					<td>{{row.executor}}</td>
					<td>{{row.notes}}</td>
					<td>{{row.createTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<h3>任务记录</h3>
		<table class="table table-bordered table-hover table-striped">
			<thead>
			    <tr>
			        <td>月份</td>
			        <td>阶段</td>
			        <td>时间</td>
			    </tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in user.log.taskOneLog">
					<td>{{row.month}}</td>
					<td>{{row.stage}}</td>
					<td>{{row.createTime}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>