<!-- Navigation -->
<header admin-name="admin.name"></header>

<!-- Search -->
<div class="container-fluid filter-section">
	<div class="container">
		<div class="form-group col-md-2 no-padding-left">
	        <select class="form-control" ng-model="search.city">
	            <option value="">所有城市</option>
	            <option ng-repeat="city in cityList" value="{{city}}">{{city}}</option>
	        </select>
	    </div>
		<div class="form-group col-md-2 center-block pull-right no-padding-right">
		    <input type="text" class="form-control" ng-model="search.$" placeholder ="全局搜索">
		</div>
	</div>
</div>

<!-- User list table -->
<div class="container user-list">
	<table class="table table-bordered table-hover btm-margin">
		<thead>
		    <tr>
		        <td>用户ID</td>
				<td>生活家ID</td>
		        <td>昵称</td>
		        <td>城市</td>
		        <td>手机号</td>
		        <td>详情</td>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="row in filtedList | limitTo : maxPerPage : (currentPage-1)*maxPerPage">
				<td>{{row.id}}</td>
				<td>{{row.vipid}}</td>
				<td>{{row.name}}</td>
				<td>{{row.city}}</td>
				<td>{{row.tel}}</td>
				<td><a class="btn btn-warning" href="#/user/{{row.id}}">深入了解 TA</a></td>
		    </tr>
		</tbody>
	</table>
</div>

<!-- Pagination -->
<div class="pagination-section">
    <pagination boundary-links="true" total-items="filtedList.length" items-per-page="maxPerPage" ng-model="currentPage" first-text="第一页" previous-text="上一页" max-size ="15" next-text="后一页" last-text="最后一页"></pagination>
    <div class="total-list-count">共筛选出了 {{filtedList.length}} 项结果</div>
</div>