<ul class="footer-nav container-fluid">
	<li class="col-xs-6 no-padding">
		<a ui-sref="me" ui-sref-active="active" class="tab tab-name-me">
			<div class="icon"></div>
			<div class="tab-label">成绩单</div>
		</a>
	</li>
	<li class="col-xs-6 no-padding">
		<a ui-sref="rank" ui-sref-active="active" class="tab tab-name-rank">
			<div class="icon"></div>
			<div class="tab-label">排行榜</div>
		</a>
	</li>
</ul>