<div class="more-info">
	<img class="more-info-title" src="img/common/more-info/more-info.png">
	<ol class="decimal">
		<li style="color: red;">已于1月8日扣除1000初始奖学金，剩余额度可全部兑换奖品或美团积分；</li>
		<li>入围评价复审需要 2-3 个工作日，评价提交后第三个工作日可以查询到审核状态，遇非工作日可能有延迟；</li>
		<li>更多详情，请戳 <a href="http://mp.weixin.qq.com/s?__biz=MzAwNDExMzg1NA==&mid=402083492&idx=1&sn=d531a41a4abe58ca616822f707835520&scene=20#rd">《生活家新生手册》</a> ；</li>
		<li>如有任何疑问，请在“美团悦生活”中提交反馈。</li>
	</ol>
</div>