/* Global */
.container-fluid {
    padding: 0;
}
html, body, .ng-scope {
    height: 100%;
}
img.header {
    width: 100%;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #eee;
    padding: 8px 10px;
}

/* Login */
.login {
    background-color: #D70050;
    height: 100%;
}
.login .input-box {
    max-width: 300px;
}
.login .title {
    color: white;
    font-size: 16px;
    margin: 22px auto 20px;
}
.login input,
.login .input-group {
    width: 100%;
}
.login input[type='submit'] {
    margin-top: 15px;
}

/* Me */
.me {
    background-color: #F3EEDA;
    padding-bottom: 56px;
    height: auto;
}
.me .overview-block {
    background-color: #F3EEDA;
}
.me .overview-block p {

}
.me .highlight {
    color: #D70050;
}
.me .muted {
    color: #B2B2B2;
}
.me .check-overview {
}
.me .check-list-wrapper {
    margin-bottom: 20px;
}
.me .check-list {
    padding: 8px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.me .check-overview .inline{
    text-align: center;
    font-size: 13px;
}

.me .check-list thead td{
    padding: 10px 10px;
    color: white;
    background-color: #D70050;
}
.me .row-header {
    background-color: #D70050;
    color: white;
    padding: 10px 10px;
}
.check-overview .row{
}
.check-overview h3{
    margin: 0;
    line-height: 35px;
}

/* Rank */
.rank {
    background-color: #F3EEDA;
    height: auto;
    padding-bottom: 50px;
}
.rank .rank-list {
    padding: 13px 35px 30px;
    background-color: #F3EEDA;
}
.rank .rank-list-title {
    color: #D70050;
    font-size: 20px;
    text-align: center;
    margin-top:36px;
    margin-bottom: 10px;
}
.rank .rank-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    padding: 10px 0;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 50px;
}
.rank .rank-badge {
    position: absolute;
    height: 45px;
    width: 44px;
}
.rank .rank-badge img {
    height: 100%;
}
.rank .rank-badge-index {
    font-size: 20px;
    text-align: center;
    line-height: 44px;
}
.rank .rank-row:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.33);
}
.rank .rank-row .nickname {
    text-align: right;
    color: #D70050;
    font-size: 16px;
}
.rank .rank-row .comment-count {
    text-align: right;
}
.rank .rank-list-header {
    margin-top: 25px;
    padding: 0 35px;
    margin-bottom: 18px;
}
.rank .rank-list-header .monthLable{
    width:23.3333%;
}
.rank .rank-list-header .monthSelect{
    width:74.666%;
    display:inline-block;
}
.rank .rank-change-city {
    width: 100%;
    margin-bottom: 15px;
}
.rank .rank-change-city label {
    width: 20%;
}
.rank .rank-row .no-people-tip {
    width: 100%;
    text-align: center;
    color: #949494;
}

/* Footer */
.footer-nav {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DFDFDF;
}
.footer-nav .icon {
    height: 28px;
    margin-bottom: 3px;
}
.footer-nav .tab-label {
    font-size: 12px;
}
.footer-nav .tab {
    text-align: center;
    padding: 5px 0 3px;
}
.footer-nav a {
    display: block;
    color: black;
    text-decoration: none;
}
.footer-nav .tab .icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
}
.footer-nav .tab-name-me .icon {
    background-image: url(../img/common/footer/me.png);
}
.footer-nav .tab-name-me.active .icon {
    background-image: url(../img/common/footer/me-active.png);
}
.footer-nav .tab-name-rank .icon {
    background-image: url(../img/common/footer/rank.png);
}
.footer-nav .tab-name-rank.active .icon {
    background-image: url(../img/common/footer/rank-active.png);
}
.footer-nav .tab.active .tab-label {
    color: #2bb8aa;
}

/* More info */
.more-info {
    padding: 10px 35px 30px;
    background-color: #F3EEDA;
}
.more-info p {

}
img.more-info-title {
    width: 100%;
    margin-bottom: 20px;
}
.more-info li {
    margin-bottom: 8px;
}

