/* Global */

html,
body {
    height: 100%;
}

.btm-margin {
    margin-bottom: 100px;
}

.inline-block {
    display: inline-block;
}

.text-white {
    color: white;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}


/* Nav */

.navbar {
    margin-bottom: 0;
    border: none;
}

.navbar li.text {
    padding: 15px;
}


/* Filter section */

.filter-section {
    height: 50px;
    padding: 8px;
    background-color: #3998EA;
    margin-bottom: 30px;
}

.filter-section .inline-block {
    margin-right: 15px;
}

.filter-section .numberPerPage label {
    line-height: 35px;
    color: white;
    margin-right: -15px;
    text-align: right;
}

.filter-section .score-range {
    line-height: 28px;
}

.filter-section .score-range input {
    width: 35px;
}

.filter-section .text-middle {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}


/* Pagination */

.pagination {
    margin: 15px 0 5px;
}

.pagination-section {
    text-align: center;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    border-top: 1px dashed #3998EA;
    width: 100%;
    z-index: 100;
}

.pagination-section .paging_number {
    display: block;
}

.pagination-section .paging_number #number_per_page {
    width: 50px;
}

.pagination-section .total-list-count {
    margin-bottom: 10px;
    color: gray;
}


/* Login */

.login {
    text-align: center;
}

.login .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.login .avator-big {
    height: 100px;
    border-radius: 50px;
    margin-bottom: 30px;
    box-shadow: 0 0 35px #31b0d5;
}

.login h3 {
    margin: 100px 0 30px;
    color: white;
}

.login .avators img {
    width: 60px;
    border-radius: 30px;
}

.login .avators li {
    display: inline-block;
    padding: 8px;
    position: relative;
}

.login .input-box {
    max-width: 300px;
}

.login input,
.login .input-group {
    width: 100%;
    text-align: center;
}

.login input[type='submit'] {
    margin-top: 20px;
}

.login .avators {
    padding: 30px 0;
    position: relative;
}

.login .avators img:hover {
    box-shadow: 0 0 25px #31b0d5;
}

.login .footer {
    color: #E0E0E0;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
}

.footer a {
    color: #E0E0E0;
    text-decoration: underline;
}


/* Point */

.point .table {
    max-width: 500px;
    margin: auto;
}


/* User list */

.user-list .table {
    max-width: 700px;
    margin: auto;
}


/* User detail */

.user-detail .row {
    margin: 0;
}

.user-detail .back {
    margin: 20px 0;
}


/* Settings */

.settings input[type="submit"] {
    margin-top: 10px;
}

.settings h3 {
    margin-top: 40px;
}


/* Link */

.link {
    font-size: 16px;
}

.link h3 {
    margin-top: 40px;
}


/* Stat */

.stat {
    padding-bottom: 40px;
}

.stat .chart-area {
    overflow: hidden;
    margin: 0 10px;
    padding-bottom: 20px;
}

.stat .chart-area .categoryTitle{
    margin-bottom:10px;
}

.stat .chart-area .categoryTitle h3{
    display:inline-block;
}

.stat .chart-area .categoryTitle .tri{
    margin-left:10px;
}

.stat .chart-area .categoryTitle .tri:after{
    content: '';
    border: 10px solid transparent;
    border-left: 19px solid #3998EA;
    height: 0;
    display: inline-block;
    width: 0;
}
.stat .chart-area .margin-block {
    width: 100%;
    height: 20px;
}
